body{
   font-family: "Reddit Mono", monospace;
    background-color: rgb(241, 241, 233);
    color: rgb(53, 18, 25);
    margin-left: 10rem;
    margin-right: 10rem;
    padding: 5%;
}
.heading{
    font-size: 50px;
    text-align: left;
}
.intro{
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 4%;
}