body{
   font-family: "Reddit Mono", monospace;
    background-color: rgb(53, 18, 25);
    color: rgb(241, 241, 233);
    margin-left: 10rem;
    margin-right: 10rem;
    padding: 5%;
}
.heading{
    font-size: 50px;
    text-align: left;
    padding-bottom: 4%;
}
.intro{
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 4%;

}
.intro-img{
    width: 70%;
    padding: 5%;
}
.sub-title{
    font-size: 20px;
    align-self: left;
}
hr{
    color: rgb(241, 241, 233);
}
#cam{
    width: 70%;
    margin: 14%;
    background-image: url("images/dis.png");
}

.dispose{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 4%;
}
.camera1{
    width: 80%;
    margin: 10%;
}
