body{
  font-family: "Reddit Mono", monospace;
  background-color: rgb(53, 18, 25);
  color: rgb(241, 241, 233);
  margin-left: 10rem;
  margin-right: 10rem;
  padding: 5%;
}

h1 {
    font-size: 150px;
    font-weight: bold;
    text-align: center;
    mix-blend-mode: difference;
    width: 80%;
    margin: 0 auto;
}

video {
    position: absolute;
    top: 50%;
    left: 30%;
    width: 40rem;
    margin: 20rem auto ; 

}

h4 {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    font-size: 30px;
    font-family: 'Reddit Mono', monospace;
}
