body {
    background: rgba(0,0,0,1);
    color: rgba(255,255,255,1);
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: normal; /* 'Regular' is not a valid font-weight value */
    font-size: 30px;
    text-align: left;
    margin: 3%;
    height: auto;
    width: auto;
}

.dropbtn {
    z-index: 4;
    margin: 1rem;
    display: inline-block;
    border-radius: 3rem;
    background-color: blue;
    width: 3rem;
    height: 3rem;
    text-align: center;
    font-size: 40px;
}

.dropbtn:hover {
    transform: rotate(-90deg); /* corrected rotate property */
    transition: 0.25s;
}

.dropdown {
    display: inline-block;
    position: relative; /* changed from fixed */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: blue;
    font-size: 20px;
    min-width: 6rem;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #000000;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #0000ff;
}

h1 {
    font-size: 150px;
    font-weight: bold;
    text-align: center;
    mix-blend-mode: difference;
    width: 80%;
    margin: 0 auto;
}

video {
    position: absolute;
    right: -50%;
    top: -40%;
    width: 40rem;
    margin: 20rem auto ; 

}

h4 {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    font-size: 30px;
    font-family: 'Reddit Mono', monospace;
}
