* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.body {
  width: 100%;
  height: 11096px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.img1 {
  width: 377px;
  height: 311px;
  background: url("../images/v55_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1457px;
  left: 514px;
  overflow: hidden;
}
.img2 {
  width: 260px;
  height: 347px;
  background: url("../images/v55_15.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1016px;
  left: 120px;
  overflow: hidden;
}
.img3 {
  width: 369px;
  height: 492px;
  background: url("../images/v55_18.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1705px;
  left: 16px;
  transform: rotate(-4deg);
  overflow: hidden;
}
.img4 {
  width: 258px;
  height: 448px;
  background: url("../images/v55_21.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 900px;
  left: 1020px;
  transform: rotate(-90deg);
  overflow: hidden;
}
.img5 {
  width: 219px;
  height: 261px;
  background: url("../images/v55_27.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 552px;
  left: 672px;
  overflow: hidden;
}
.img6 {
  width: 341px;
  height: 454px;
  background: url("../images/v55_30.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2251px;
  left: 253px;
  overflow: hidden;
}
.img7 {
  width: 250px;
  height: 334px;
  background: url("../images/v55_33.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2812px;
  left: 1022px;
  overflow: hidden;
}
.img8 {
  width: 325px;
  height: 356px;
  background: url("../images/v55_36.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1906px;
  left: 883px;
  overflow: hidden;
}
.img9 {
  width: 286px;
  height: 255px;
  background: url("../images/v55_54.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3744px;
  left: 253px;
  overflow: hidden;
}
.img10 {
  width: 230px;
  height: 318px;
  background: url("../images/v55_66.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2839px;
  left: 672px;
  overflow: hidden;
}
.img11 {
  width: 324px;
  height: 404px;
  background: url("../images/v55_72.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3321px;
  left: 792px;
  overflow: hidden;
}
.img12 {
  width: 275px;
  height: 367px;
  background: url("../images/v55_96.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5174px;
  left: 425px;
  overflow: hidden;
}
.img13 {
  width: 272px;
  height: 364px;
  background: url("../images/v55_105.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5453px;
  left: 1015px;
  overflow: hidden;
}
.img14 {
  width: 251px;
  height: 434px;
  background: url("../images/v55_108.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6098px;
  left: 771px;
  overflow: hidden;
}
.img15 {
  width: 347px;
  height: 463px;
  background: url("../images/v55_117.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 7193px;
  left: 120px;
  overflow: hidden;
}
.img16{
  width: 347px;
  height: 463px;
  background: url("../images/v55_120.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6251px;
  left: 120px;
  overflow: hidden;
}
.img17 {
  width: 391px;
  height: 247px;
  background: url("../images/v55_123.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6855px;
  left: 897px;
  overflow: hidden;
}
.img18 {
  width: 351px;
  height: 469px;
  background: url("../images/v55_129.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 7495px;
  left: 816px;
  overflow: hidden;
}
.img19{
  width: 290px;
  height: 388px;
  background: url("../images/v55_138.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 7964px;
  left: 228px;
  overflow: hidden;
}
.img20 {
  width: 290px;
  height: 388px;
  background: url("../images/v55_144.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9560px;
  left: 294px;
  overflow: hidden;
}
.text1 {
  width: 431px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 709px;
  left: 127px;
  font-family: Helvetica Neue;
  font-weight: Medium;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.text2 {
  width: 596px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2355px;
  left: 724px;
  font-family: Helvetica Neue;
  font-weight: Medium;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.text3 {
  width: 351px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2782px;
  left: 131px;
  font-family: Helvetica Neue;
  font-weight: Medium;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.img21 {
  width: 80rem;
  background: url("../images/v55_527.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8398px;
  left: 253px;
  overflow: hidden;
}
.text4 {
  width: 420px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 5690px;
  left: 120px;
  font-family: Helvetica Neue;
  font-weight: Medium;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v55_536 {
  width: 434px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 8109px;
  left: 883px;
  font-family: Helvetica Neue;
  font-weight: Medium;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v55_60 {
  width: 428px;
  height: 669px;
  background: url("../images/v55_60.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4255px;
  left: 195px;
  overflow: hidden;
}
.v55_63 {
  width: 314px;
  height: 282px;
  background: url("../images/v55_63.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3122px;
  left: 125px;
  overflow: hidden;
}
.v55_84 {
  width: 302px;
  height: 491px;
  background: url("../images/v55_84.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4009px;
  left: 989px;
  overflow: hidden;
}
.v55_90 {
  width: 260px;
  height: 245px;
  background: url("../images/v55_90.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4801px;
  left: 815px;
  overflow: hidden;
}
.v55_126 {
  width: 290px;
  height: 388px;
  background: url("../images/v55_126.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9560px;
  left: 802px;
  overflow: hidden;
}
.name {
  width: 742px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 87px;
  left: 558px;
  font-family: Helvetica Neue;
  font-weight: bold;
  font-size: 150px;
  opacity: 1;
  text-align: right;
}
.final {
  width: 80rem;
  background: url("../images/v55_539.png");
  opacity: 1;
  position: fixed;
  left: 45%;
}
