body{
  font-family: "Reddit Mono", monospace;
  background-color: rgb(53, 18, 25);
  color: rgb(241, 241, 233);
  margin-left: 10rem;
  margin-right: 10rem;
  padding: 5%;
}
.heading{
  font-size: 50px;
  text-align: left;
    position: fixed;

}
.HalfScreen{
  display: grid;
  grid-template-columns: 50 50;
}
#mask{
  width: 35%;
  position: fixed;
  top: 20% ;
}
.process{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 4%;
  padding: 1%;
  width: 50%;
  margin-left: 50%;
}
img{
  width: 150px
}