body{
  font-family: "Reddit Mono", monospace;
  background-color: rgb(53, 18, 25);
  color: rgb(241, 241, 233);
  margin-left: 10rem;
  margin-right: 10rem;
  padding: 5%;
}
.heading{
  font-size: 50px;
  text-align: right;
  position: fixed;
  right: 15%;
}
.HalfScreen{
  display: grid;
  grid-template-columns: 50 50;
}
#mask{
  width: 35%;
  position: fixed;
  top: 20%;
  right: 10%;

}
.process{
  display: grid;
  grid-template-columns: auto auto auto;
  width: 50%; 
}
#img{
  height: 150px;
  margin: 2%;
}
.text{
  width: 50%;
  margin-top: 10%;
}
.navbar{
  margin-top: 2%;
  position: fixed;
  background-color:  rgb(241, 241, 233);
  padding: 4px;
}