body{
    font-family: "Reddit Mono", monospace;
    background-color: rgb(241, 241, 233);
    color: rgb(53, 18, 25);
    margin-left: 10rem;
    margin-right: 10rem;
    display: grid;
}
.title{
    font-size: 50px;
    text-align: right;
}
.name{
    position: fixed;
    right: 10%;
    bottom: 10%;
}
.info{
    margin-left: 35rem;
    font-size: 20px;
    text-align: right;
}
.photo{
    position: fixed;
    bottom: 2%;
}
#img1{
    width: 15rem;
    padding: 5rem;
}
#img2{
    width: 15rem;
    padding: 5rem;

}