body {
    background: rgba(0,0,0,1);
    color: rgba(255,255,255,1);
    font-family: Helvetica Neue;
    font-weight: Regular;
    font-size: 30px;
    text-align: left;
}

.dropbtn {
    z-index: 4;
    margin: 1rem;
    display: inline-block;
    border-radius: 3rem;
    background-color: blue;
    width: 3rem;
    height: 3rem;
    text-align: center;
    font-size: 40px;
}
.dropbtn:hover{
    rotate: -90deg;
    transition: 0.25s;
}
.dropdown {
    display: inline-block;
    position: fixed;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: blue;
    font-size: 20px;
    min-width: 6rem;
    z-index: 1;
}
  
.dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {background-color: #000000;}
  
.dropdown:hover .dropdown-content {display: block;}
  
.dropdown:hover .dropbtn {background-color: #0000ff;}

.split{
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: #111;
}

.right {
  right: 0;
  background-color: rgb(255, 255, 255);
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
h4{
    color: #000000;
}
hr{
    height: 2px;
    background-color: #000000;
    border: #000000;
}
#WLimg, #CLimg, #BLimg, #RBimg, #CBimg {
    display: none;
}
img{
    width: 70%;
    margin: 2rem;
    text-align: center;
    line-height: 75px;
}
