html {
  scroll-behavior: smooth; /* enables smooth scrolling */
}
body{
    font-family: "Reddit Mono", monospace;
    background-color: rgb(241, 241, 233);
    color: rgb(53, 18, 25);
    margin-left: 10rem;
    margin-right: 10rem;
    display: grid;
    padding-bottom: 10%;
}
.works{
  margin-left: 20%;
}
.name{
  font-size: 80px;
  text-align: right;
}
.item-title{
  font-size: 30px;
}
img{
  width: 200px;
  padding: 4%;
}
.image-item{
  text-align: right;
  display: grid;
  grid-template-columns: auto auto auto;

}
.navbar{
  width: 20%;
  margin-top: 10%;
  position: fixed;
  padding: 0.5%;

}
.navbar a {
  margin-bottom: 5%;
  grid-area: 3%;
}