body{
   font-family: "Reddit Mono", monospace;
    background-color: rgb(241, 241, 233);
    color: rgb(53, 18, 25);
    margin-left: 10rem;
    margin-right: 10rem;
    padding: 5%;
}
.heading{
    font-size: 50px;
    text-align: left;
}
.intro{
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 4%;

}
.intro-img{
    width: 70%;
}
.sub-title{
    font-size: 20px;
    align-self: left;
}
.activities{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 4%;
    margin-left: 30%;
    gap: 25%;
    align-items: center;
    margin-bottom: 4%;
}
.weekly{
    width: 70%;
}
.button{
    font-size: 20px;
    font-family: "Reddit Mono", monospace;
    color: rgb(241, 241, 233);
    background-color: rgb(44, 37, 239);
    padding: 10%;
    text-align: center;
    border-radius: 20%;
}
.button:hover{
    color: rgb(241, 241, 233);
    background-color: rgb(231, 97, 14);
    transition: 0.1s;
}
video{
    display: flex;
    text-align: center;
    width: 70%;
    margin-top: 4%;
    margin-left: 15%;
    margin-bottom: 4%;

}
.link{
    text-align: right;
    margin-top: 4%;

}